.heading{
    margin-left: 40%;
    font-size: 50px;
    color: slategrey;
    margin-top: 5%;
}
.Images{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    text-align: center;
}
.card-img-top{
    border-radius: 3%;
    border-style: none;
    height: 250px;
    width: 250px;
    margin: 5% 5%;
}
.col-sm-4:hover{
    opacity: 0.3;
}